In [3]:
# GP/A : 매출총이익 / 자산총계
# 매출총이익 : 매출액 - 매출원가
# 자산총계 : 자기자본 + 부채
# PBR(주가순자산비율) : 현재주가 / BPS
# BPS(주당순자산가치) : 기업의 순자산 / 총 발행 주식 수

import pandas as pd
corp_info = pd.read_csv('corp.csv', header=0)

corp_info = corp_info[['종목코드','종목명','현재가','상장주식수']]
corp_info['종목코드'] = 'A' + corp_info['종목코드'].astype(str)

corp_result = pd.read_excel('SAMPLE_2018.xlsx')

corp_data = corp_result[['종목코드','매출총이익','자본총계','자산총계','부채총계']]

corp_total = pd.merge(corp_info, corp_data, how='left', on='종목코드')
corp_total_dropna = corp_total.dropna()
corp_total_dropna

,종목코드,종목명,현재가,상장주식수,매출총이익,자본총계,자산총계,부채총계
0,A005930,삼성전자,"55,400","5,969,782,550",1.113770e+14,2.477532e+14,3.393572e+14,9.160407e+13
1,A207940,삼성바이오로직스,"794,000","66,165,000",1.451599e+11,4.155468e+12,5.980409e+12,1.824940e+12
2,A000660,SK하이닉스,"71,800","728,002,365",2.526423e+13,4.685233e+13,6.365834e+13,1.680600e+13
3,A035420,NAVER,"305,500","164,263,395",5.586905e+12,5.949141e+12,9.881191e+12,3.932050e+12
4,A051910,LG화학,"667,000","70,592,343",5.346197e+12,1.732213e+13,2.894414e+13,1.162201e+13
...,...,...,...,...,...,...,...,...
2426,A114570,지스마트글로벌,620,"11,339,394",1.130118e+10,1.103738e+11,1.535438e+11,4.316996e+10
2429,A310870,한국제8호스팩,"2,020","3,420,000",0.000000e+00,6.350131e+09,6.879631e+09,5.295000e+08
2432,A121890,에스디시스템,739,"9,047,578",4.205643e+09,1.675393e+10,3.475391e+10,1.799999e+10
2434,A080440,에스제이케이,498,"13,325,960",1.897520e+08,1.306286e+10,5.962112e+10,4.655827e+10
2447,A158310,스타모빌리티,505,"12,071,642",1.729789e+09,2.001856e+10,4.418349e+10,2.416494e+10

In [9]:
corp_total["GP/A"] = corp_total["매출총이익"]/corp_total["자본총계"]
corp_total["BPS"] = corp_total["자본총계"]/corp_total['상장주식수'].str.replace(",","").astype("float64")
corp_total["PBR"] = corp_total["현재가"].str.replace(',','').astype("float64")/corp_total["BPS"].astype("float64")
corp_total = corp_total[pd.notnull(corp_total['PBR']) | pd.notnull(corp_total['GP/A'])]
corp_total["GP/A Rank"] = corp_total["GP/A"].rank()
corp_total["PBR Rank"] = corp_total["PBR"].rank(ascending=0)
corp_total["Total Rank"] = corp_total["GP/A Rank"] + corp_total["PBR Rank"]
corp_total.sort_values(by=['Total Rank'], ascending=0)

,종목코드,종목명,현재가,상장주식수,매출총이익,자본총계,자산총계,부채총계,GP/A,BPS,PBR,GP/A Rank,PBR Rank,Total Rank
2094,A069640,한세엠케이,"2,625","12,909,322",1.916986e+11,1.485118e+11,2.056286e+11,5.711690e+10,1.290797,11504.225396,0.228177,1904.0,1902.0,3806.0
1021,A095570,AJ네트웍스,"2,960","46,822,295",1.056691e+12,5.082648e+11,2.575139e+12,2.066875e+12,2.079017,10855.188559,0.272681,1939.0,1863.0,3802.0
1211,A005990,매일홀딩스,"7,830","13,718,304",4.548671e+11,5.160672e+11,8.489405e+11,3.328733e+11,0.881411,37618.876721,0.208140,1835.0,1924.0,3759.0
904,A016450,한세예스24홀딩스,"4,095","40,000,000",6.379932e+11,6.177373e+11,1.678316e+12,1.060579e+12,1.032791,15443.432350,0.265161,1869.0,1871.0,3740.0
564,A037560,LG헬로비전,"3,820","77,446,865",1.061144e+12,1.059260e+12,1.935139e+12,8.758786e+11,1.001779,13677.249221,0.279296,1866.0,1857.0,3723.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2194,A010640,진양폴리,"2,665","10,000,000",0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000,inf,NaN,8.5,NaN
2250,A058450,일야,685,"31,740,000",0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000,inf,NaN,8.5,NaN
2346,A317320,한화에스비아이스팩,"2,600","4,360,000",0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000,inf,NaN,8.5,NaN
2353,A317030,케이비17호스팩,"2,015","5,461,000",0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000,inf,NaN,8.5,NaN
2416,A033600,럭슬,179,"40,828,103",0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000,inf,NaN,8.5,NaN